---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<header>
    <div class="bg-[#023047] flex justify-between px-8">
      <Link href="/" underline={false}>
        <h1 class="font-semibold text-3xl text-white">
          blog.hhofner
        </h1>
      </Link>
    </div>
</header>
