---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import NewHeader from "@components/NewHeader.astro";
import NewFooter from "@components/NewFooter.astro";
import PageFind from "@components/PageFind.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.TITLE}`} description={description} />
  </head>
  <body>
    <NewHeader />
    <main>
      <a rel="me" class="invisible" href="https://famichiki.jp/@slims"
        >Mastodon</a
      >
      <slot />
    </main>
    <!-- <NewFooter /> -->
    <PageFind />
    <style></style>
  </body>
</html>
